
.pentestingtool__dashboard_container {
	display: flex;
	flex-direction: row;
}

.pentestingtool__dashboard_container_groupB {
	flex: 1;

	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
	.pentestingtool__dashboard_container {
			flex-direction: column-reverse;
	}
}

@media screen and (max-width: 700px) {
	.pentestingtool__dashboard_container_groupB {
			grid-template-columns: repeat(1, 1fr);
	}

}

@media screen and (max-width: 550px) {
	.pentestingtool__dashboard-heading h1 {
			font-size: 34px;
			line-height: 42px;
	}

}
