
:root {
	--bg-black: #000;
	--bs-cian: #0ff;
	--bs-mag: #f0f;
}

body {
	background: #0c0c0c;
	-webkit-text-size-adjust: 100%;
}

#pentesting-tools {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	padding: 4rem 6rem;
	margin: 4rem 6rem;
}

.pentesting-tool__card {
	display: flex;
	background-color: #17141d;
	border-radius: 10px;
	box-shadow: -1rem 0 3rem #000;
	transition: 0.4s ease-out;
	position: relative;
	padding: 3px 3px 3px 3px;
}

.pentesting-tool__header {
	color: #666;
}



.pentesting-tool__card:hover {
transform: translateY(-30px);
transition: 0.4s ease-out;
}

.pentesting-tool__title {
	font-size: 40px;
	text-transform: capitalize;
}
.pentesting-tool__description {
	font-size: 14px;
}
