
:root {
	--bg-black: #000;
	--bs-cian: #0ff;
	--bs-mag: #f0f;
}

body {
	margin: 0px;
	padding-top: 0px;
	-webkit-text-size-adjust: 100%;
	display: block;
	background-color: var(--bg-black);
}

*, *::before, *::after{
	box-sizing: border-box;
}

#pentesting-tools {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.pentesting-tool__card {
	margin: 10px 10px 10px 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.pentesting-tool__description {
	font-weight: 200;
}
